body {
 background-color: #FFF0F5;
 color: #000000;
 font-family:colonna mt;
 margin: 0;
 padding: 0;
 }
 /* Styling for the header section */
 header {
 background-color: #DDA0DD;
 color: ##C0C0C0;
 padding: 20px;
 }
 h2 {
   text-align: center;
   border-bottom: 1px solid #000;
 }
 main {
 padding: 20px;
 }
 }
 main ul {
 margin-top: 0;
 margin-bottom: 20px;
 }
 main li {
 margin-bottom: 5px;
 }

 div {
     background: #737373;
     float: left;
     position: relative;
     width: 30%;
     padding-bottom: 30%;
     margin: 1.66%;
 }
 div:hover {
     background: black;
 }
 img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }
